@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Librarium</h1>
    <p>A place to track all of the worlds books!</p>

    <button>@Html.ActionLink("See All Books", "Index", "Books")</button>
    <button>@Html.ActionLink("See All Authors", "Index", "Authors")</button>
</div>
